{{- define "logger-imports"}}{{template "logger-implementation-imports" .}}
{{- end }}

{{- define "logger-interface"}}
{{ template "logger-implementation-helpers" . }}

{{- $iface := . }}
{{- $ifacename := .Name }}

// {{ $ifacename }}ProxyLogger proxy wrapper for source.{{ $ifacename }}.
type {{ $ifacename }}ProxyLogger struct {
    src source.{{ $ifacename }}
    log {{ template "logger-implementation-type" . }}
}

// New{{ $iface.Name }}ProxyLogger creates a new proxy logger for source.{{ $ifacename }}.
func New{{ $iface.Name }}ProxyLogger(
    src source.{{ $ifacename }},
    log {{ template "logger-implementation-input" . }},
) *{{ $ifacename }}ProxyLogger {
    return &{{ $ifacename }}ProxyLogger{
        src: src,
        log: {{ template "logger-implementation-init" . }},
    }
}


{{- range .Functions }}
{{- $function := . }}

// {{ $function.Name }} is proxy method for source.{{ $ifacename }}.{{ $function.Name }}.
func (p *{{ $ifacename }}ProxyLogger) {{ $function.Name }}(
{{- range $i, $p := $function.Input }}{{- /* printing function input param in one line start */}}
    {{- if $i }}, {{ end }}{{ $p.Name}} {{ $p.Source }}
{{- end }})
{{- if eq (len $function.Output) 1 }} ({{ (index $function.Output 0).Name }} {{ (index $function.Output 0).Source }})
{{- else if gt (len $function.Output) 1 }} (
{{- range $i, $p := $function.Output }} {{- /* printing function output param in one line start */}}
    {{- if $i }}, {{ end }}{{ $p.Name}} {{ $p.Source }}
{{- end }})
{{- else }}{{- /* needed if output params is empty */}}
{{- end }} {
{{- if $function.IsHaveLoggerTag }}{{template "logger-implementation-body" (dict "IfaceName" $ifacename "Function" $function)}}
{{- else }} {{template "clear-body" $function}} {{- /* calling clear template */}}
{{- end }}
}
{{- end }} {{- /* end cycle by functions */}}

{{- end }}
